* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-btn: #143c3c;
    --text-color-nav: #575d5e;
    --text-color-nav-hover: #152427;
    --color-share: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    --color-brand: #e2eddf;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ==== Commonn ==== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;

    font-family: "Public Sans", sans-serif;
    display: inline-block;
    min-width: 173px;
    height: var(--height);
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: var(--height);
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background-color: var(--primary-color-btn);
    transition: all 0.25s ease;
}

.btn:hover {
    color: var(--primary-color-btn);
    background-color: #e2eddf;
    border: 1px solid var(--primary-color-btn);
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* ========================== Navbar ========================== */
.header {
    font-family: "Public Sans", sans-serif;
    padding-top: 28px;
    padding-bottom: 13px;
    background-color: #fff;
}

.fixed {
    position: sticky;
    top: -20px;
    bottom: -8px;
    z-index: 1;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar__list {
    margin-left: auto;
    display: flex;
    margin-right: 69px;
}

.navbar__link {
    position: relative;
    color: var(--text-color-nav);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5; /* 155.556% */
    padding: 8px 19px;
}

.navbar__link:hover {
    color: var(--text-color-nav-hover);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link:hover::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: var(--primary-color-btn);
    /* Tính từ thẻ <li> đi xuống */
    bottom: -25px;
    /* Trừ đi khoảng padding */
    left: 19px;
}

/* ========================== Share ========================== */
.separate {
}

.share {
    height: 1px;
    background-image: var(--color-share);
}

/* ========================== Hero ========================== */
.hero {
    font-family: "Public Sans", sans-serif;
    padding-top: 60px;
    padding-bottom: 87px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 34%;
}

.hero-content__heading {
    max-width: 368px;
    color: var(--text-color-nav-hover);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero-content__desc {
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5; /* 155.556% */
    margin-top: 20px;
}

.hero-row {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    align-items: center;
}

.hero-wrapper__item {
    --height: 43px;

    position: relative;
    display: inline-block;
    width: 44px;
    height: var(--height);
    border-radius: 50%;
    background-color: #83a17d;
    text-align: center;
    line-height: var(--height);
    margin-right: 15px;
}

.hero-wrapper__item:hover {
    background-color: #e2eddf;
    border: 1px solid var(--primary-color-btn);
}

.hero-wrapper__play {
    color: #fef6fb;
}

.hero-wrapper__item:hover .hero-wrapper__play {
    color: var(--primary-color-btn);
}

.hero-wrapper__play--border {
    position: absolute;
    left: -7px;
    top: -8px;
}

.hero-wrapper__item:hover .hero-wrapper__play--border {
    left: -8px;
    top: -9px;
}

.hero-wrapper__video {
    color: var(--text-color-nav-hover);
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6; /* 166.667% */
    cursor: pointer;
}

.hero-wrapper__video:hover {
    color: var(--primary-color-btn);
}

.hero-media {
    position: relative;
    width: 57%;
    margin-left: auto;
    margin-right: 23px;
}

.hero-media__row {
    display: flex;
    column-gap: 20px;
}

.hero-col--bottom {
    transform: translateY(77px);
}

.hero-media__color {
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
    left: 156px;
    top: 122px;
    z-index: -1;
}

.hero-flower {
    position: absolute;
}

.hero-flowe--top {
}

/* ========================== Brand ========================== */
.brand {
    margin-top: 42px;
}

.brand-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-brand);
    border-radius: 100.5px;
    padding: 77px 121px;
}

.brand-col {
    display: flex;
    align-items: center;
}

.brand-img--icon {
    margin-right: 11px;
}

/* ========================== Service ========================== */
.service {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 46px;
}

.service-wrapper__intro {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    color: var(--text-color-nav-hover);
}

.service-wrapper__intro::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--text-color-nav-hover);
    margin-right: 21px;
}

.service-block {
    display: flex;
    justify-content: space-between;
}

.service-block__heading {
    position: relative;
    width: 520px;
    font-size: 4.2rem;
    color: var(--text-color-nav-hover);
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
    margin-top: 12px;
}

.service-block__heading::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--text-color-nav-hover);
    bottom: 19px;
    right: 103px;
}

.service-arrow {
    display: flex;
    margin-top: 41px;
    margin-bottom: 9px;
    margin-right: 76px;
}

.service-arrow__left {
    margin-right: 17px;
}

.service-media {
    margin-top: 76px;
}

.service-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 16px;
}

.service-item__img {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.service-info__block {
    padding: 24px 18px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-info__heading {
    color: var(--text-color-nav-hover);
    font-size: 22px;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-info__desc {
    width: 268px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
    margin-top: 18px;
}

/* ========================== About ========================== */
.about {
    padding-top: 60px;
    padding-bottom: 137px;
    margin-top: 29px;
}

.about-body {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about-media {
    width: 52%;
    position: relative;
    display: flex;
    gap: 0 21px;
}

.about-media__img {
    width: 286px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-media__img:first-child {
    transform: translateY(77px);
}

/* ==== Book ==== */
.about-book {
    font-family: "Public Sans", sans-serif;
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 143px;
    background-color: #fff;
    padding: 19px 23px;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    right: -9px;
    bottom: -77px;
}

.about-book__heading {
    color: var(--text-color-nav-hover);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about-book__desc {
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.4;
    margin-top: 6px;
}

.about-book__loading {
    display: inline-block;
    color: var(--text-color-nav-hover);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

.about-book__speed {
    margin-top: -8px;
}

.about-book__speed::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background-color: #83a17d;
}

.about-book__speed::after {
    content: "";
    display: inline-block;
    width: 56px;
    height: 2px;
    border-radius: 10px;
    background-color: #eaeaea;
}

.about-book__text {
    display: block;
    text-align: right;
    color: var(--text-color-nav-hover);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 3px;
}

.about-book__dots {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary-color-btn);
    outline: 3px solid #eaeaea;
    margin-top: 3px;
}

.about-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.about-group__imgs {
    display: flex;
}

.about-group__img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
}

.about-group__img + .about-group__img {
    margin-left: -6px;
}

.about-group__title {
    color: var(--text-color-nav-hover);
    font-size: 1rem;
    font-weight: 500;
}

/* ==== Decorate ==== */
.about-decorate-block {
    position: absolute;
    left: 14px;
    top: -32px;
}

.about-decorate {
    position: absolute;
}

.about-decorate__branch {
    display: inline-block;
    width: 541px;
    height: 360px;
    position: relative;
    transform: rotate(12deg);
}

.about-decorate__flower {
    width: 72.033px;
    height: 72px;
    transform: rotate(176deg);
    position: relative;
    left: 79px;
    top: -5px;
}

/* ==== Content ==== */
.about-content {
    width: 42%;
}

.about-content__intro {
    display: flex;
    align-items: center;
    color: var(--text-color-nav-hover);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12; /* 112.5% */
}

.about-content__intro::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--text-color-nav-hover);
    margin-right: 21px;
}

.about-content__heading {
    color: var(--text-color-nav-hover);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
    margin-top: 20px;
}

.about-conent__desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    margin-top: 11px;
}

.about-content__row {
    display: flex;
    gap: 0 24px;
    margin-top: 36px;
    border-bottom: 1px solid #83a17d;
    padding-bottom: 20px;
}

.about-content__hignlight {
    color: var(--text-color-nav-hover);
    font-size: 42px;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.about-content__text {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* ========================== Process ========================== */
.process {
    margin-top: 19px;
}

.process-intro {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.process-intro::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--text-color-nav-hover);
    margin-right: 21px;
}

.process-heading {
    position: relative;
    width: 477px;
    font-size: 4.2rem;
    color: var(--text-color-nav-hover);
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
    margin-top: 20px;
}

.process-heading::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--text-color-nav-hover);
    bottom: 18px;
    right: -9px;
}

.process-list {
    margin-top: 81px;
}

.process-item {
    width: 100%;
    height: 185px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 46px 0 21px 20px;
    border-bottom: 1px solid #83a17d;
    cursor: pointer;
    transition: all 0.3s ease;
}

.process-item:hover {
    background-color: #e2eddf;
    border-radius: 33px;
    padding-left: 30px;
    border-bottom: 1px solid #e2eddf;
}

.process-item__id {
    min-width: 109px;
    font-size: 7.2rem;
    color: var(--text-color-nav-hover);
    font-weight: 600;
    margin-right: 47px;
}

.process-item__heading {
    color: var(--text-color-nav-hover);
    font-size: 2.2rem;
    font-weight: 600;
}

.process-item__link {
    display: none;
}

.process-item__img {
    position: absolute;
    bottom: 0;
    right: 92px;
}

.process-item__desc {
    display: block;
    width: 572px;
    font-size: 1.8rem;
    color: #7d8188;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
    margin-left: auto;
    margin-right: 41px;
}

/* ========================== Project ========================== */
.project {
    position: relative;
    margin-top: 148px;
    padding: 116px 0 63px;
    background-color: #143c3c;
}

.project-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-heading {
    position: relative;
    width: 40%;
    font-size: 4.2rem;
    color: #e7f9f9;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.project-heading::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #83a17d;
    bottom: 20px;
    right: 97px;
}

.project-wrap {
    font-family: "Public Sans", sans-serif;
    width: 51%;
}

.project-wrap__desc {
    color: #6a8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5; /* 155.556% */
}

.project-wrap__link {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5; /* 155.556% */
    margin-top: 18px;
}

.project-wrap__link--icon {
    margin-left: 26px;
}

.project-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.project-video__demo {
    width: 1140px;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

.project-btn {
    position: absolute;
    width: 118px;
    height: 118px;
    border: none;
    padding: 41px 41px 41px 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.25s;
}

.project-btn:hover {
    background-color: #4dbb9a;
}

/* ========================== Feature ========================== */
.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 80px;
    text-align: center;
}

.feature-heading {
    width: 520px;
    color: var(--text-color-nav-hover);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
    margin-left: auto;
    margin-right: auto;
}

.feature-desc {
    width: 547px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.feature-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 45px;
    margin-top: 103px;
}

.feature-item {
    padding: 80px 37px 74px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    cursor: pointer;
    background: #fff;
    transition: all 0.3s ease;
}

.feature-item:hover {
    transform: translateY(-59px);
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    border: none;
}

.feature-item__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-top: 26px;
}

.feature-item__desc {
    text-align: center;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
    margin-top: 9px;
}

/* ========================== Blog ========================== */
.blog {
    padding: 60px 0;
    margin-top: 64px;
}

.blog-intro {
    display: flex;
    align-items: center;
    color: var(--text-color-nav-hover);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12; /* 112.5% */
}

.blog-intro::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--text-color-nav-hover);
    margin-right: 21px;
}

.blog-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-heading {
    position: relative;
    color: var(--text-color-nav-hover);
    width: 520px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
    margin-top: 10px;
}

.blog-heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 82px;
    height: 3px;
    background-color: var(--primary-color-btn);
    top: 84px;
    right: -51px;
}

.blog-desc {
    width: 409px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.blog-block {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
}

.blog-item {
    min-height: 517px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
    border-radius: 40px 40px 20px 20px;
    overflow: hidden;
}

.blog-item__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-item__img {
    width: 100%;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.blog-info {
    position: relative;
    height: 100%;
    padding: 26px 30px 12px;
}

.blog-info__intro {
    display: inline-block;
    width: 107px;
    height: 26px;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    padding: 7px 34px;
    border: 1px solid #e2eddf;
    border-radius: 20px;
    background-color: #e2eddf;
    margin-bottom: 13px;
    cursor: pointer;
}

.blog-info__intro:hover {
    color: #fff;
    background-color: var(--primary-color-btn);
}

.blog-info__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6; /* 166.667% */
    color: var(--primary-color-btn);
    /* border-bottom: 1px solid #C4C4C4; */
}

.separate {
    display: none;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
    margin-top: 9px;
    margin-bottom: 15px;
}

.blog-info__date {
    position: absolute;
    bottom: 12px;
    right: 30px;
    display: block;
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    color: #575d5e;
}

.blog-info__date::before {
    content: "";
    display: inline-block;
    width: 300px;
    height: 1px;
    background-color: #c4c4c4;
    margin-bottom: 15px;
}

/* ========================== Footer ========================== */
.footer-body {
    display: flex;
    align-items: center;
}

.footer-contact {
    width: 37%;
}

.footer {
    margin-top: 42px;
    padding-top: 72px;
    padding-bottom: 50px;
    background-color: var(--primary-color-btn);
}

.footer-contact__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-form {
    position: relative;
    display: flex;
    align-items: center;
    width: 354px;
    margin-top: 25px;
    padding-bottom: 36px;
}

.footer-form::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #6a8383;
}

.footer-form__input {
    width: 183px;
    height: 22px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1; /* 100% */
    background-color: transparent;
    border: none;
    outline: none;
}

.footer-form__input::placeholder {
    color: #6a8383;
}

.footer-form__btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 132px;
}

.footer-social {
    display: flex;
    gap: 0 22px;
    margin-top: 47px;
}

.social-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.social-link:hover {
    background-color: #a75325;
}

.social-link__icon--instagram {
    position: absolute;
}

.footer-row {
    font-family: "Public Sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 50px;
    margin-left: auto;
    margin-right: 19px;
}

.footer-list {
    margin-top: 6px;
}

.footer-col__heading {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5; /* 155.556% */
}

.footer-list__link {
    color: #6a8383;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2; /* 225% */
}

.footer-separate {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
    margin-top: 45px;
}

.copyright {
    display: block;
    margin-top: 28px;
    text-align: center;
    color: #aab3ba;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
